---
layout: default
---


<div class="heading" id="toc">
  <h2>Table of contents</h2>
</div>
<div class="section toc">
  <div class="col">
    <h4><a href="#html">HTML</a></h4>
    <ul>
      <li><a href="#html-syntax">Syntax</a></li>
      <li><a href="#html-doctype">HTML5 doctype</a></li>
      <li><a href="#html-lang">Language attribute</a></li>
      <li><a href="#html-encoding">Character encoding</a></li>
      <li><a href="#html-ie-compatibility-mode">Internet Explorer compatibility mode</a></li>
      <li><a href="#html-style-script">CSS and JavaScript includes</a></li>
      <li><a href="#html-practicality">Practicality over purity</a></li>
      <li><a href="#html-attribute-order">Attribute order</a></li>
      <li><a href="#html-boolean-attributes">Boolean attributes</a></li>
      <li><a href="#html-reducing-markup">Reducing markup</a></li>
      <li><a href="#html-javascript">JavaScript generated markup</a></li>
    </ul>
  </div>
  <div class="col">
    <h4><a href="#sass">Sass</a></h4>
    <ul>
      <li><a href="#sass-syntax">Syntax</a></li>
      <li><a href="#sass-selectors">Selectors</a></li>
      <li><a href="#sass-nesting">Nesting</a></li>
      <li><a href="#sass-comments">Comments</a></li>
      <li><a href="#sass-media-queries">Media query placement</a></li>
      <li><a href="#sass-single-declarations">Rules with single declarations</a></li>
      <li><a href="#sass-shorthand">Shorthand notation</a></li>
      <li><a href="#sass-classes">Classes</a></li>
      <li><a href="#sass-organization">Organization</a></li>
      <li><a href="#sass-maintainability">Maintainability</a></li>
      <li><a href="#sass-declaration-order">Declaration order</a></li>
    </ul>
  </div>
  <div class="col">
    <h4><a href="#coffee">CoffeeScript</a></h4>
    <ul>
      <li><a href="#coffee-code-layout">Code layout</a></li>
      <li><a href="#coffee-imports">Module Imports</a></li>
      <li><a href="#coffee-whitespace">Whitespace in Expressions and Statements</a></li>
      <li><a href="#coffee-comments">Comments</a></li>
      <li><a href="#coffee-naming">Naming Conventions</a></li>
      <li><a href="#coffee-functions">Functions</a></li>
      <li><a href="#coffee-strings">Strings</a></li>
      <li><a href="#coffee-conditionals">Conditionals</a></li>
      <li><a href="#coffee-looping">Looping and Comprehensions</a></li>
      <li><a href="#coffee-annotations">Annotations</a></li>
      <li><a href="#coffee-miscellaneous">Miscellaneous</a></li>
    </ul>
  </div>
</div>


<div class="section" id="golden-rule">
  <div class="col">
    <h2>Golden rule</h2>
    <p>For additions or contributions to this Code Guide, please <a href="https://github.com/PixelUnion/code-guide/issues/new">open an issue on GitHub</a>.</p>
  </div>
  <div class="col">
    <blockquote>
      <p>Every line of code should appear to be written by a single person, no matter the number of contributors.</p>
    </blockquote>
  </div>
</div>



<div class="heading" id="html">
  <h2>HTML</h2>
</div>

<div class="section" id="html-syntax">
  <div class="col">
    <h3>Syntax</h3>
    <ul>
      <li>Use soft tabs with two spaces—they're the only way to guarantee code renders the same in any environment.</li>
      <li>Nested elements should be indented once (two spaces).</li>
      <li>Always use double quotes, never single quotes, on attributes.</li>
      <li>Don't include a trailing slash in self-closing elements—the <a href="http://dev.w3.org/html5/spec-author-view/syntax.html#syntax-start-tag">HTML5 spec</a> says they're optional.</li>
      <li>Don’t omit optional closing tags (e.g. <code>&lt;/li&gt;</code> or <code>&lt;/body&gt;</code>).</li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include html/syntax.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-doctype">
  <div class="col">
    <h3>HTML5 doctype</h3>
    <p>Enforce standards mode and more consistent rendering in every browser possible with this simple doctype at the beginning of every HTML page.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/doctype.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-lang">
  <div class="col">
    <h3>Language attribute</h3>
    <p>From the HTML5 spec:</p>
    <blockquote>
      <p>Authors are encouraged to specify a lang attribute on the root html element, giving the document's language. This aids speech synthesis tools to determine what pronunciations to use, translation tools to determine what rules to use, and so forth.</p>
    </blockquote>
    <p>Read more about the <code>lang</code> attribute <a href="http://www.w3.org/html/wg/drafts/html/master/semantics.html#the-html-element">in the spec</a>.</p>
    <p>Head to Sitepoint for a <a href="http://reference.sitepoint.com/html/lang-codes">list of language codes</a>.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/lang.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-ie-compatibility-mode">
  <div class="col">
    <h3>IE compatibility mode</h3>
    <p>Internet Explorer supports the use of a document compatibility <code>&lt;meta&gt;</code> tag to specify what version of IE the page should be rendered as. Unless circumstances require otherwise, it's most useful to instruct IE to use the latest supported mode with <strong>edge mode</strong>.</p>
    <p>For more information, <a href="http://stackoverflow.com/questions/6771258/whats-the-difference-if-meta-http-equiv-x-ua-compatible-content-ie-edge-e">read this awesome Stack Overflow article</a>.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/ie-compatibility-mode.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-encoding">
  <div class="col">
    <h3>Character encoding</h3>
    <p>Quickly and easily ensure proper rendering of your content by declaring an explicit character encoding. When doing so, you may avoid using character entities in your HTML, provided their encoding matches that of the document (generally UTF-8).</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/encoding.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-style-script">
  <div class="col">
    <h3>CSS and JavaScript includes</h3>
    <p>Per HTML5 spec, typically there is no need to specify a <code>type</code> when including CSS and JavaScript files as <code>text/css</code> and <code>text/javascript</code> are their respective defaults.</p>
    <h4>HTML5 spec links</h4>
    <ul>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-link-element">Using link</a></li>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-style-element">Using style</a></li>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/scripting-1.html#the-script-element">Using script</a></li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include html/style-script.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-practicality">
  <div class="col">
    <h3>Practicality over purity</h3>
    <p>Strive to maintain HTML standards and semantics, but not at the expense of practicality. Use the least amount of markup with the fewest intricacies whenever possible.</p>
  </div>
</div>

<div class="section" id="html-attribute-order">
  <div class="col">
    <h3>Attribute order</h3>
    <p>HTML attributes should come in this particular order for easier reading of code.</p>
    <ul>
      <li><code>class</code></li>
      <li><code>id</code>, <code>name</code></li>
      <li><code>data-*</code></li>
      <li><code>src</code>, <code>for</code>, <code>type</code>, <code>href</code></li>
      <li><code>title</code>, <code>alt</code></li>
      <li><code>aria-*</code>, <code>role</code></li>
    </ul>
    <p>Classes make for great reusable components, so they come first. Ids are more specific and should be used sparingly (e.g., for in-page bookmarks), so they come second.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/attribute-order.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-boolean-attributes">
  <div class="col">
    <h3>Boolean attributes</h3>
    <p>A boolean attribute is one that needs no declared value. XHTML required you to declare a value, but HTML5 has no such requirement.</p>
    <p>For further reading, consult the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/common-microsyntaxes.html#boolean-attributes">WhatWG section on boolean attributes</a>:</p>
    <blockquote>
      <p>The presence of a boolean attribute on an element represents the true value, and the absence of the attribute represents the false value.</p>
    </blockquote>
    <p>If you <em>must</em> include the attribute's value, and <strong>you don't need to</strong>, follow this WhatWG guideline:</p>
    <blockquote>
      <p>If the attribute is present, its value must either be the empty string or [...] the attribute's canonical name, with no leading or trailing whitespace.</p>
    </blockquote>
    <p><strong>In short, don't add a value.</strong></p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/boolean-attributes.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-reducing-markup">
  <div class="col">
    <h3>Reducing markup</h3>
    <p>Whenever possible, avoid superfluous parent elements when writing HTML. Many times this requires iteration and refactoring, but produces less HTML. Take the following example:</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/reducing-markup.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-javascript">
  <div class="col">
    <h3>JavaScript generated markup</h3>
    <p>Writing markup in a JavaScript file makes the content harder to find, harder to edit, and less performant. Avoid it whenever possible.</p>
  </div>
</div>



<div class="heading" id="sass">
  <h2>Sass</h2>
</div>

<div class="section" id="sass-syntax">
  <div class="col">
    <h3>Syntax</h3>
    <ul>
      <li>Use soft tabs with two spaces—they're the only way to guarantee code renders the same in any environment.</li>
      <li>When grouping selectors, keep individual selectors to a single line.</li>
      <li>Include one space before the opening brace of declaration blocks for legibility.</li>
      <li>Place closing braces of declaration blocks on a new line.</li>
      <li>Include one space after <code>:</code> for each declaration.</li>
      <li>Each declaration should appear on its own line for more accurate error reporting.</li>
      <li>End all declarations with a semi-colon, even the last one</li>
      <li>Comma-separated property values should include a space after each comma (e.g., <code>box-shadow</code>).</li>
      <li>Don't include spaces after commas <em>within</em> <code>rgb()</code>, <code>rgba()</code>, <code>hsl()</code>, <code>hsla()</code>, or <code>rect()</code> values. This helps differentiate multiple color values (comma, no space) from multiple property values (comma with space).</li>
      <li>Prefix property values or color parameters with a leading zero (e.g., <code>0.5</code> instead of <code>.5</code> and <code>-0.5px</code> instead of <code>-.5px</code>).</li>
      <li>Lowercase all hex values, e.g., <code>#fff</code>. Lowercase letters are much easier to discern when scanning a document as they tend to have more unique shapes.</li>
      <li>Use shorthand hex values where available, e.g., <code>#fff</code> instead of <code>#ffffff</code>.</li>
      <li>Quote attribute values in selectors, e.g., <code>input[type="text"]</code>. <a href="http://mathiasbynens.be/notes/unquoted-attribute-values#css">They’re only optional in some cases</a>, and it’s a good practice for consistency.</li>
      <li>Avoid specifying units for zero values, e.g., <code>margin: 0;</code> instead of <code>margin: 0px;</code>.</li>
    </ul>
    <p>Questions on the terms used here? See the <a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets#Syntax">syntax section of the Cascading Style Sheets article</a> on Wikipedia.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/syntax.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="sass-selectors">
  <div class="col">
    <h3>Selectors</h3>
    <ul>
      <li>Use classes over generic element tag or IDs for optimum rendering performance.</li>
      <li>Prefer descriptive class names to descendent selectors.</li>
      <li>Avoid using several attribute selectors (e.g., <code>[class^="..."]</code>) on commonly occuring components. Browser performance is known to be impacted by these.</li>
      <li>Keep selectors short and strive to limit the number of elements in each selector to three.</li>
      <li>Scope classes to the closest parent <strong>only</strong> when necessary (e.g., when not using prefixed classes).</li>
    </ul>
    <p>Additional reading:</p>
    <ul>
      <li><a href="http://markdotto.com/2012/02/16/scope-css-classes-with-prefixes/">Scope CSS classes with prefixes</a></li>
      <li><a href="http://markdotto.com/2012/03/02/stop-the-cascade/">Stop the cascade</a></li>
    </ul>
  </div>
  <div class="col">
    {% highlight css %}{% include css/selectors.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="sass-nesting">
  <div class="col">
    <h3>Nesting</h3>
    <p>Nesting is very helpful to define element states such as active and hover, pseudo elements like before and after, and minimal child selectors that don't justify an additional class name.</p>
    <ul>
      <li>Avoid unnecessary nesting. Just because you can nest, doesn't mean you always should.</li>
      <li>At a maximum, nesting should only go three levels deep.</li>
      <li>Maximum amount of nested lines is 60. Your entire nest should be visible on a laptop's screen.</li>
    </ul>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/nesting.scss %}{% endhighlight %}
  </div>
</div>

<div class="section" id="sass-comments">
  <div class="col">
    <h3>Comments</h3>
    <p>Code is written and maintained by people. Ensure your code is descriptive, well commented, and approachable by others. Great code comments convey context or purpose. Do not simply reiterate a component or class name.</p>
    <p>Be sure to write in complete sentences for larger comments and succinct phrases for general notes.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/comments.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="sass-media-queries">
  <div class="col">
    <h3>Media query placement</h3>
    <p>Place media queries inside their respective selector. Don't have entire blocks of code dedicated to a single media query.</p>

    <p>Feel free to create a media query mixin to simplify modifying your queries.</p>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/media-queries.scss %}{% endhighlight %}
  </div>
</div>

<div class="section" id="sass-single-declarations">
  <div class="col">
    <h3>Single declarations</h3>
    <p>In instances where a rule set includes <strong>only one declaration</strong>, consider removing line breaks for readability and faster editing. Any rule set with multiple declarations should be split to separate lines.</p>
    <p>The key factor here is error detection—e.g., a CSS validator stating you have a syntax error on Line 183. With a single declaration, there's no missing it. With multiple declarations, separate lines is a must for your sanity.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/single-declarations.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="sass-shorthand">
  <div class="col">
    <h3>Shorthand notation</h3>
    <p>Strive to limit use of shorthand declarations to instances where you must explicitly set all the available values. Common overused shorthand properties include:</p>
    <ul>
      <li><code>padding</code></li>
      <li><code>margin</code></li>
      <li><code>font</code></li>
      <li><code>background</code></li>
      <li><code>border</code></li>
      <li><code>border-radius</code></li>
    </ul>
    <p>Often times we don't need to set all the values a shorthand property represents. For example, HTML headings only set top and bottom margin, so when necessary, only override those two values. Excessive use of shorthand properties often leads to sloppier code with unnecessary overrides and unintended side effects.</p>
    <p>The Mozilla Developer Network has a great article on <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Shorthand_properties">shorthand properties</a> for those unfamiliar with notation and behavior.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/shorthand.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="sass-classes">
  <div class="col">
    <h3>Class names</h3>
    <ul>
      <li>Keep classes lowercase and use dashes (not underscores or camelCase). Dashes serve as natural breaks in related class (e.g., <code>.btn</code> and <code>.btn-danger</code>).</li>
      <li><a href="http://markdotto.com/2012/02/16/scope-css-classes-with-prefixes/">Scope CSS classes with prefixes</a>.</li>
      <li>Avoid excessive and arbitrary shorthand notation. <code>.btn</code> is useful for <em>button</em>, but <code>.s</code> doesn't mean anything.</li>
      <li>Keep classes as short and succinct as possible.</li>
      <li>Use meaningful names; use structural or purposeful names over presentational.</li>
      <li>Use <code>.js-*</code> classes to denote behavior (as opposed to style), but keep these classes out of your CSS.</li>
    </ul>
  </div>
  <div class="col">
    {% highlight css %}{% include css/class-names.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="sass-organization">
  <div class="col">
    <h3>Organization</h3>
    <p>Thanks to compilation and compression, we're able to organize styles into many small files without impacting the end user. Rules should be organized into small sets corresponding to the elements they style. Styles of unrelated elements should never be in the same file.</p>
    <ul>
      <li>Organize sections of code by component.</li>
      <li>Develop a consistent commenting hierarchy.</li>
    </ul>
  </div>
</div>

<div class="section" id="sass-maintainability">
  <div class="col">
    <h3>Maintainability</h3>
    <p>Consider the example on the right.</p>

    <p>This rule obviously hides something, but it's not clear what it's hiding, or why. This code is unmaintainable, because its purpose is not obvious. Strive to write selectors and styles whose purpose and relationship is intuitive and obvious.</p>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/maintainability.scss %}{% endhighlight %}
  </div>
</div>

<div class="section" id="sass-declaration-order">
  <div class="col">
    <h3>Declaration order</h3>
    <p><strong>Recommended</strong> only. During the course of development this might not be realistic. Try to keep the following recommendations in mind.</p>
    <p>Related property declarations should be grouped together following the order:</p>
    <ol>
      <li>Positioning</li>
      <li>Box model</li>
      <li>Typographic</li>
      <li>Visual</li>
    </ol>
    <p>Positioning comes first because it can remove an element from the normal flow of the document and override box model related styles. The box model comes next as it dictates a component's dimensions and placement.</p>
    <p>Everything else takes place <em>inside</em> the component or without impacting the previous two sections, and thus they come last.</p>
    <p>For a complete list of properties and their order, please see <a href="http://twitter.github.com/recess">Recess</a>.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/declaration-order.css %}{% endhighlight %}
  </div>
</div>

<div class="heading" id="coffee">
  <h2>CoffeeScript</h2>
</div>

<div class="section" id="coffee-code-layout">
  <div class="col">
    <h3>Code layout</h3>
    <ul>
      <li>Use spaces only, with <strong>4 spaces</strong> per indentation level. Never mix tabs and spaces.</li>
      <li>Try your best to limit all lines to a maximum of 79 characters. Do not ever go over 120.</li>
    </ul>

    <h4>Blank lines</h4>
    <ul>
      <li>Separate top-level function and class definitions with a single blank line.</li>
      <li>Separate method definitions inside of a class with a single blank line.</li>
      <li>Use a single blank line within the bodies of methods or functions in cases where this improves readability (e.g., for the purpose of delineating logical sections).</li>
    </ul>

    <h4>Trailing Whitespace</h4>
    <ul>
      <li>Do not include trailing whitespace on any lines.</li>
    </ul>

    <h4>Encoding</h4>
    <ul>
      <li>UTF-8 is the only source file encoding.</li>
    </ul>
  </div>
</div>

<div class="section" id="coffee-imports">
  <div class="col">
    <h3>Module Imports</h3>

    <p>If using a module system (CommonJS Modules, AMD, etc.), require statements should be placed on separate lines at the top of the file.</p>

    <p>These statements should be grouped in the following order:</p>

    <ol>
      <li>Standard library imports <em>(if a standard library exists)</em></li>
      <li>Third party library imports</li>
      <li>Local imports <em>(imports specific to this application or library)</em></li>
    </ol>
  </div>

  <div class="col">
    {% highlight coffee %}{% include coffee/imports.coffee %}{% endhighlight %}
  </div>
</div>

<div class="section" id="coffee-whitespace">
  <div class="col">
    <h3>Whitespace in Expressions and Statements</h3>

    <p>Avoid extraneous whitespace in the following situations:</p>

    <ul>
      <li>Immediately inside parentheses, brackets or braces</li>
      <li>Immediately before a comma</li>
    </ul>

    <p>Additional recommendations::</p>

    <ul>
      <li>Always surround these binary operators with a single space on either side
        <ul>
          <li>assignment: <code>=</code></li>
          <li>augmented assignment: <code>+=</code>, <code>-=</code>, etc.</li>
          <li>comparisons: <code>==</code>, <code><</code>, <code>></code>, <code><=</code>, <code>>=</code>, <code>unless</code>, etc.</li>
          <li>arithmetic operators: <code>+</code>, <code>-</code>, <code>*</code>, <code>/</code>, etc.</li>
          <li><em>(Do not use more than one space around these operators)</em></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="col">
    {% highlight coffee %}{% include coffee/whitespace.coffee %}{% endhighlight %}
  </div>
</div>

<div class="section" id="coffee-comments">
  <div class="col">
    <h3>Comments</h3>

    <p>If modifying code that is described by an existing comment, update the comment such that it accurately reflects the new code. (If possible, improve the code to be clear and concise, and delete the comment entirely.)</p>

    <p>The first word of the comment should be capitalized, unless the first word is an identifier that begins with a lower-case letter.</p>

    <p>If a comment is short, the period at the end can be omitted.</p>

    <h4>Block Comments</h4>

    <ul>
      <li>Block comments apply to the block of code that follows them.</li>
      <li>Each line of a block comment starts with a <code>#</code> and a single space, and should be indented at the same level of the code that it describes.</li>
      <li>Paragraphs inside of block comments are separated by a line containing a single <code>#</code>.</li>
      <li>Use Markdown in your block comments, if applicable.</li>
    </ul>

    <h4>Inline Comments</h4>

    <ul>
      <li>Inline comments are placed on the line immediately above the statement that they are describing. If the inline comment is sufficiently short, it can be placed on the same line as the statement (separated by a single space from the end of the statement).</li>
      <li>All inline comments should start with a <code>#</code> and a single space.</li>
      <li>Do not use inline comments when they state the obvious. Only include them when they can be useful to the developer reading them.</li>
    </ul>

  </div>

  <div class="col">
    {% highlight coffee %}{% include coffee/comments.coffee %}{% endhighlight %}
  </div>
</div>

<div class="section" id="coffee-naming">
  <div class="col">
    <h3>Naming Conventions</h3>

    <p>Use <code>camelCase</code> (with a leading lowercase character) to name all variables, methods, and object properties.</p>

    <p>Use <code>UpperCamelCase</code> (with a leading uppercase character) to name all classes.</p>

    <p><em>(The <strong>official</strong> CoffeeScript convention is camelCase, because this simplifies interoperability with JavaScript. For more on this decision, see [here][coffeescript-issue-425].)</em></p>

    <p>Methods and variables that are intended to be "private" should begin with a leading underscore.</p>

  </div>

  <div class="col">
    {% highlight coffee %}{% include coffee/naming.coffee %}{% endhighlight %}
  </div>
</div>

<div class="section" id="coffee-functions">
  <div class="col">
    <h3>Functions</h3>

    <p><em>(These guidelines also apply to the methods of a class.)</em></p>

    <ul>
      <li>When declaring a function that takes arguments, always use a single space after the closing parenthesis of the arguments list</li>
      <li>Do not use parentheses when declaring functions that take no arguments</li>
      <li>In cases where method calls are being chained and the code does not fit on a single line, each call should be placed on a separate line and indented by one level (i.e., two spaces), with a leading <code>.</code></li>
      <li>Most importantly, be consistent</li>
    </ul>

  </div>

  <div class="col">
    {% highlight coffee %}{% include coffee/functions.coffee %}{% endhighlight %}
  </div>
</div>

<div class="section" id="coffee-strings">
  <div class="col">
    <h3>Strings</h3>

    <ul>
      <li>Use string interpolation instead of string concatenation</li>
      <li>Prefer double quoted strings (<code>""</code>) instead of single quoted (<code>''</code>) strings</li>
    </ul>

  </div>

  <div class="col">
    {% highlight coffee %}{% include coffee/strings.coffee %}{% endhighlight %}
  </div>
</div>

<div class="section" id="coffee-conditionals">
  <div class="col">
    <h3>Conditionals</h3>

    <ul>
      <li>Favour <code>unless</code> over <code>if</code> for negative conditions, especially for trailing conditions</li>
      <li>Instead of using <code>unless...else</code>, use <code>if...else</code></li>
      <li>Multi-line if/else clauses should use indentation</li>
    </ul>

  </div>

  <div class="col">
    {% highlight coffee %}{% include coffee/conditionals.coffee %}{% endhighlight %}
  </div>
</div>

<div class="section" id="coffee-looping">
  <div class="col">
    <h3>Looping and Comprehensions</h3>

    <ul>
      <li>Take advantage of comprehensions whenever possible</li>
    </ul>

  </div>

  <div class="col">
    {% highlight coffee %}{% include coffee/looping.coffee %}{% endhighlight %}
  </div>
</div>

<div class="section" id="coffee-annotations">
  <div class="col">
    <h3>Annotations</h3>

    <ul>
      <li>Use annotations when necessary to describe a specific action that must be taken against the indicated block of code</li>
      <li>Write the annotation on the line immediately above the code that the annotation is describing.</li>
      <li>The annotation keyword should be followed by a colon and a space, and a descriptive note.</li>
    </ul>

    <p>Annotation types:</p>

    <ul>
      <li><code>TODO</code>: describe missing functionality that should be added at a later date</li>
      <li><code>FIXME</code>: describe broken code that must be fixed</li>
      <li><code>OPTIMIZE</code>: describe code that is inefficient and may become a bottleneck</li>
      <li><code>HACK</code>: describe the use of a questionable (or ingenious) coding practice</li>
      <li><code>REVIEW</code>: describe code that should be reviewed to confirm implementation</li>
    </ul>

    <p>If a custom annotation is required, the annotation should be documented in the project's README.</p>

  </div>

  <div class="col">
    {% highlight coffee %}{% include coffee/annotations.coffee %}{% endhighlight %}
  </div>
</div>

<div class="section" id="coffee-miscellaneous">
  <div class="col">
    <h3>Miscellaneous</h3>

    <ul>
      <li>Prefer shorthand notation (::) for accessing an object's prototype</li>
      <li>Prefer <code>@property</code> over <code>this.property</code></li>
      <li>However, avoid the use of <strong>standalone</strong> <code>@</code></li>
      <li>Avoid <code>return</code> where not required, unless the explicit return increases clarity</li>
      <li>Use splats (<code>...</code>) when working with functions that accept variable numbers of arguments</li>
    </ul>

  </div>

  <div class="col">
    {% highlight coffee %}{% include coffee/miscellaneous.coffee %}{% endhighlight %}
  </div>
</div>
