<div class="heading" id="git">
  <h2>Git</h2>
</div>

<div class="section" id="git-introduction">
  <div class="col">
    <h3>An introduction to Git</h3>

    <p>At its most basic, source control gives us the ability to store, share, and transport code and code changes, but the real value comes from the ability to record and replay the stories behind each change during the lifetime of a project.</p>

    <p>This is <em>not</em> an intro to source control or a git how-to: we assume that you have an intermediate understanding of how to use git. If you’re new to git, chapters 2, 3, and 6 (through the section on interactive rebasing) of Scott Chacon’s <a href="http://git-scm.com/book">git book</a> will tell you the how.</p>

    <p>It doesn’t matter if you use git’s commands or a GUI (see <a href="http://mac.github.com">GitHub for Mac</a> and <a href="http://gitboxapp.com">Gitbox</a>), but you need a confident understanding of what’s happening regardless. Knowing the commands often helps.</p>
  </div>
</div>

<div class="section" id="git-repos">
  <div class="col">
    <h3>Repo Naming</h3>
    <p>To keep our many repositories easy to find we follow a simple naming convention:</p>
    <ul>
      <li>Names are all lowercase, with hyphens as separators.</li>
      <li>Themes are suffixed by their platform: -shopify, -wp, -tumblr, -ghost.</li>
      <li>Tools are prefixed by their platform: wp-calcium, shopify-skeleton.</li>
      <li>Theme forks for client customizations are named theme-client-platform.</li>
    </ul>
  </div>

  <div class="col">
    {% highlight bash %}{% include git/repos.txt %}{% endhighlight %}
  </div>
</div>

<div class="section" id="git-setup">
  <div class="col">
    <h3>Setup</h3>

    <p>Things to do right away:</p>

    <ul>
      <li>Set your author metadata</li>
      <li>Set branch.autosetuprebase</li>
      <li>Set push.default</li>
      <li>Set core.editor (optional)</li>
    </ul>
  </div>

  <div class="col">
    {% highlight bash %}{% include git/setup.txt %}{% endhighlight %}
  </div>
</div>

<div class="section" id="git-branches">
  <div class="col">
    <h3>Branches and Pull Requests</h3>

    <p><strong>Never commit directly to master.</strong> Instead, create small branches for each and every topic you work on (such as a feature or bug fix), and create a pull request into master when the branch is complete.</p>

    <p><em>The exception to this rule is <a href="#git-tagging">version commits and tags</a>.</em></p>

    <h4>Naming</h4>

    <ul>
      <li>Name branches as concisely as possible, separated by <strong>underscores</strong>.</li>
      <li>Don't use version numbers</li>
    </ul>

    <h4>Long-Running Branches</h4>

    <p>If your branch cannot be named as a specific function/feature/bug then you can create a long-running branch with a name like <code>multiple_fixes</code>.</p>

    <p>When using this method, it's important that the commits are <em>clear</em> and minimal (see <a href="#git-comments">Commits</a>).</p>
  </div>

  <div class="col">
    {% highlight bash %}{% include git/branches.txt %}{% endhighlight %}
  </div>
</div>

<div class="section" id="git-commits">
  <div class="col">
    <h3>Commits</h3>

    <p>Please read Stephen Ball’s Steel City Ruby 2013 presentation, <a href="http://rakeroutes.com/blog/deliberate-git/">Deliberate Git</a>. It covers this topic very well.</p>

    <p>Once you’ve read it, you’ll understand why you should:</p>

    <ul>
      <li>Commit small changes frequently. Only you see your local commits, so <code>WIP</code> is fine.</li>
      <li>Rebase local commits before pushing &amp; pull requesting.</li>
      <li>Write commit subjects in the present tense and as a command.</li>
      <li>Describe what the code <em>change</em> does, not what the code does.</li>
      <li>Explain why the change is necessary.</li>
      <li>Mention alternatives you considered and potential consequences of your solution.</li>
    </ul>

    <p>When writing commits:</p>

    <ul>
      <li>Start with a capitalized word</li>
      <li>Wrap at 70 characters (tell your editor to do this for you)</li>
      <li>Spell correctly (optionally, install a precommit spell-checker hook)</li>
      <li>Include blank lines after the first line and between paragraphs in multi-line messages</li>
    </ul>
  </div>

  <div class="col">
    {% highlight bash %}{% include git/commits.txt %}{% endhighlight %}
  </div>
</div>

<div class="section" id="git-pushing">
  <div class="col">
    <h3>Pushing</h3>

    <p>If you’re pushing a new branch, use the <code>--set-upstream</code> (<code>-u</code>) flag to automatically set the remote branch as your local branch’s tracking branch.</p>
  </div>

  <div class="col">
    {% highlight bash %}{% include git/pushing.txt %}{% endhighlight %}
  </div>
</div>

<div class="section" id="git-merging">
  <div class="col">
    <h3>Merging</h3>

    <p>So your pull request has been peer-reviewed and approved – nice work! Now it's time to merge your changes into master.</p>

    <p>You want to use a fast-forward merge (<code>git merge --ff-only</code>). Merging this way prevents "merge bubbles" where commit messages are created that say that a branch has been merged. This is called a recursive merge and it muddies up the commit history.</p>
  </div>

  <div class="col">
    {% highlight bash %}{% include git/merging.txt %}{% endhighlight %}
  </div>
</div>

<div class="section" id="git-tagging">
  <div class="col">
    <h3>Tagging and Releasing</h3>

    <p>Versioned libraries, both internal and public, should follow these practices:</p>

    <ul>
      <li>Use a <code>major_feature.minor_feature/major_bugfix.minor_bugfix</code> numbering scheme</li>
      <li>Remember to update documentation and version constants</li>
      <li>Always create and push a tag with the version number, prefixed with a <code>v</code></li>
    </ul>
  </div>

  <div class="col">
    {% highlight bash %}{% include git/tagging.txt %}{% endhighlight %}
  </div>
</div>
